name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  compile-examples:
    name: Compile Examples
    uses: ./.github/workflows/compile-examples.yml

  clang-format:
    name: Clang Format
    uses: ./.github/workflows/clang-format.yml

  platformio-tests:
    name: PlatformIO Tests
    uses: ./.github/workflows/platformio-tests.yml

  documentation:
    name: Documentation
    uses: ./.github/workflows/documentation.yml
