name: CI (Meta)

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  ci-meta:
    runs-on: ubuntu-latest
    steps:
      - name: CI workflows split notice
        run: |
          echo "CI is split across:" 
          echo "- compile-examples.yml"
          echo "- clang-format.yml"
          echo "- platformio-tests.yml"
          echo "- documentation.yml"
